# Python
__pycache__/
*.pyc

# Virtual environments
gymenv/
venv/

# Large files / models
*.pt
*.pth
*.h5
*.ckpt
*.json

# Data
data/
datasets/
runs/
runsNoEntropy/
results/
runsPaper-bu/
configs/
configsNoEnropty/
configsPaper-bu/
checkpoints/
# Logs
*.log
